<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Not Found</title>
</head>

<body>
    <main class="bg-white dark:bg-black ">
        <div class="grid h-screen place-content-center px-4">
            <h1 class="uppercase tracking-widest text-gray-500 dark:text-gray-300">Oops! Ur <a
                    class="line-through">Lovely</a> Pages doesn't Appear</h1>
            <p class="dark:text-gray-300">dont cry. . . its just a 404 Error!</p>
            <p class="dark:text-gray-300">lets back to <a href="/" class="btn btn-xs btn-ghost dark:bg-white/40 dark:text-white shadow-[0_10px_20px_rgba(240,_46,_170,_0.7)] hover:italic">home</a>
                page</p>
        </div>
    </main>
</body>

</html>